apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: linuxwebsite
  namespace: default
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: linuxwebsite
    spec:      
      containers:
        - name: linuxwebsite
          image: marcusreg.azurecr.io/linuxwebsite
          ports:
          - containerPort: 80
          imagePullPolicy: Always  
      imagePullSecrets:
      - name:  "azure-registry"